
// set your custom colors here
$siteBgColorCustom: #fff7f5;
$sidebarBgColorCustom: #FEF0EC;
$textColorCustom: #3A0F03;
$sidebarTextColorCustom: #220D07;

$headlineColorCustom: #932210;
$headingColorCustom: #ce3d15;

$bodyLinkColorCustom: #BF4D31;
$navLinkColorCustom: #C54B29;
$sidebarLinkColorCustom: #741d06;

$footerTextColorCustom: #747270;

$buttonTextColorCustom: #FAF9F0;
$buttonHoverTextColorCustom: #FAF9F0;
$buttonBgColorCustom: #CE3D15;
$buttonHoverBgColorCustom: #BC4524;
$borderColorCustom: #FED0C3;


$siteBgColorDark: #220D07;
$sidebarBgColorDark: #3A0F03;
$textColorDark: #fff7f5;
$sidebarTextColorDark: #FEF0EC;

$headlineColorDark: #CE3D15;
$headingColorDark: #BC4524;

$bodyLinkColorDark: #BC4524;
$navLinkColorDark: #CE3D15;
$sidebarLinkColorDark: #CE3D15;

$footerTextColorDark: #BC4524;

$buttonTextColorDark: #fff7f5;
$buttonHoverTextColorDark: #fff7f5;
$buttonBgColorDark: #932210;
$buttonHoverBgColorDark: #ce3d15;
$borderColorDark: #FED0C3;
