
// set your custom colors here
$siteBgColorCustom: #FAF9F0;
$sidebarBgColorCustom: #F5F3E0;
$textColorCustom: #220D07;
$sidebarTextColorCustom: #220D07;

$headlineColorCustom: #d35836f7;
$headingColorCustom: #BB4625;

$bodyLinkColorCustom: #BC4524;
$navLinkColorCustom: #BC4524;
$sidebarLinkColorCustom: #BC4524;

$footerTextColorCustom: #676565;

$buttonTextColorCustom: #FAF9F0;
$buttonHoverTextColorCustom: #FAF9F0;
$buttonBgColorCustom: #E07A5F;
$buttonHoverBgColorCustom: #BC4524;
$borderColorCustom: #F0EDD1;


$siteBgColorDark: #220D07;
$sidebarBgColorDark: #220D07;
$textColorDark: #FAF9F0;
$sidebarTextColorDark: #F0EDD1;

$headlineColorDark: #E07A5F;
$headingColorDark: #BC4524;

$bodyLinkColorDark: #BC4524;
$navLinkColorDark: #E07A5F;
$sidebarLinkColorDark: #E07A5F;

$footerTextColorDark: #BC4524;

$buttonTextColorDark: #FAF9F0;
$buttonHoverTextColorDark: #FAF9F0;
$buttonBgColorDark: #d35836f7;
$buttonHoverBgColorDark: #BB4625;
$borderColorDark: #F0EDD1;
