
// set your custom colors here
$siteBgColorCustom: #f2f2f1;
$sidebarBgColorCustom: #FFFFFF;
$textColorCustom: #404040;
$sidebarTextColorCustom: #2c2857;
$headlineColorCustom: #516DB0;
$headingColorCustom: #516DB0;
$bodyLinkColorCustom: #2c2857;
$navLinkColorCustom: #516DB0;
$sidebarLinkColorCustom: #2c2857;
$footerTextColorCustom: #706E6C;
$buttonTextColorCustom: #FFFFFF;
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #516DB0;
$buttonHoverBgColorCustom: #2c2857;
$borderColorCustom: #B4C0DD;

$siteBgColorDark: #2c2857;
$sidebarBgColorDark: #1d1d38;
$textColorDark: #f2f2f1;
$sidebarTextColorDark: #FFFFFF;

$headlineColorDark: #516DB0;
$headingColorDark: #2c2857;

$bodyLinkColorDark: #2c2857;
$navLinkColorDark: #516DB0;
$sidebarLinkColorDark: #516DB0;

$footerTextColorDark: #2c2857;

$buttonTextColorDark: #f2f2f1;
$buttonHoverTextColorDark: #f2f2f1;
$buttonBgColorDark: #516DB0;
$buttonHoverBgColorDark: #516DB0;
$borderColorDark: #B4C0DD;
