
// set your custom colors here
$siteBgColorCustom: #FCEEF1;
$sidebarBgColorCustom: #fff;
$textColorCustom: #22071E;
$sidebarTextColorCustom: #77186A;

$headlineColorCustom: #77186A;
$headingColorCustom: #44074B;

$bodyLinkColorCustom: #627354;
$navLinkColorCustom: #77186A;
$sidebarLinkColorCustom: #637354;

$footerTextColorCustom: #706E6C;

$buttonTextColorCustom: #F7F7F4;
$buttonHoverTextColorCustom: #F9F9F8;

$buttonBgColorCustom: #899D78;
$buttonHoverBgColorCustom: #6F825E;

$borderColorCustom: #F9DCE3;


$siteBgColorDark: #22071E;
$sidebarBgColorDark: #77186A;
$textColorDark: #FCEEF1;
$sidebarTextColorDark: #fff;

$headlineColorDark: #899D78;
$headingColorDark: #6F825E;

$bodyLinkColorDark: #6F825E;
$navLinkColorDark: #899D78;
$sidebarLinkColorDark: #899D78;

$footerTextColorDark: #6F825E;

$buttonTextColorDark: #FCEEF1;
$buttonHoverTextColorDark: #FCEEF1;
$buttonBgColorDark: #77186A;
$buttonHoverBgColorDark: #44074B;
$borderColorDark: #F9DCE3;
