
// set your custom colors here
$siteBgColorCustom: #E3F0EE;
$sidebarBgColorCustom: #fff;
$textColorCustom: #2C2C2C;
$sidebarTextColorCustom: #22404C;
$headlineColorCustom: #22404C;
$headingColorCustom: #22404C;
$bodyLinkColorCustom: #107685;
$navLinkColorCustom: #2C2C2C;
$sidebarLinkColorCustom: #2c2857;
$footerTextColorCustom: #2C2C2C;
$buttonTextColorCustom: #fff;
$buttonHoverTextColorCustom: #fff;
$buttonBgColorCustom: #107685;
$buttonHoverBgColorCustom: #14303C;
$borderColorCustom: #76B0B9;

$siteBgColorDark: #22404C;
$sidebarBgColorDark: #335F71;
$textColorDark: #E3F0EE;
$sidebarTextColorDark: #fff;

$headlineColorDark: #107685;
$headingColorDark: #57A5C7;

$bodyLinkColorDark: #337A99;
$navLinkColorDark: #107685;
$sidebarLinkColorDark: #107685;

$footerTextColorDark: #337A99;

$buttonTextColorDark: #E3F0EE;
$buttonHoverTextColorDark: #E3F0EE;
$buttonBgColorDark: #22404C;
$buttonHoverBgColorDark: #22404C;
$borderColorDark: #76B0B9;
