<article>
{{ $page := . }}
{{ $pages := where .Site.RegularPages "Type" "in" site.Params.mainSections }}
{{ $grouped := $pages.GroupBy "Section" }}
{{ range $grouped }}
  {{ $section := $.Site.GetPage "section" .Key }}
  {{ with $section }}
    <h5 class="f4 fw7 mt4 tracked ttu lh-title mb0"><a href="{{ .Permalink }}" class="dim no-underline">{{ .Title }}</a></h5>
  {{ else }}
  <!-- If no _index.md is available, ".Key" defaults to the section title and filters to title casing -->
    <h5 class="f4 fw7 mt4 tracked ttu lh-title mb0"><a href="{{ .Permalink }}" class="dim no-underline">{{ .Key | title }}</a></h5>
  {{ end }}
  
<!--now add the content-->
  {{ $number_featured := $page.Params.number_featured | default 2 }}
  {{ range first $number_featured .Pages.ByDate.Reverse }}
  <h4 class="f4 mt4 lh-title"><a href="{{ .Permalink }}" class="dim no-underline">{{ .Title }}</a></h4>
    <p class="measure-wide lh-copy cf">
        {{ $featured := (.Resources.ByType "image").GetMatch "*feature*" }}
        {{ range first 1 (.GetTerms "series") }}
            {{ $.Scratch.Set "$series_featured" ((.Resources.ByType "image").GetMatch "*feature*") }}
        {{ end }}
        {{ $series_featured := $.Scratch.Get "$series_featured" }}
        {{ $thumbnail := $featured | default $series_featured }}
        {{ with $thumbnail }}
          <img src="{{ .RelPermalink | absURL }}" align="left" class="mw-100 w4 mr3 db br3 br--left"
        alt="Blue tinted version of the Tachyons avatar on Twitter">
        {{ end }}
      {{ .Params.excerpt }}
      <a href="/blog/tachyons-for-style/">Learn more</a>
    </p>
  {{ end}}
  {{ with $section }}
    <div class="tr">
    <span class="f5 pv4 action-text tr"><a href="{{ .Permalink }}" class="dim no-underline">See all &rarr;</a></span>
    </div>
  {{ end }}
<hr class="f4 ba mt5 mb4 ml0">
{{ end }}

{{ $number_categories := $page.Params.number_categories | default 0 }}
{{ if ge $number_categories 1 }}
  <h6 class="f4 mv4 tracked ttu lh-title">Featured categories</h6>
  {{ range first $number_categories site.Taxonomies.categories.ByCount }}
      <a class="f6 link dim ba ph3 pv2 mb2 dib mr2" href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a> 
  {{ end }}
<hr class="f4 ba mt5 mb4 ml0">
{{ end }}
</article>