{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="blog-intro mw7 center mb5">
    <h2 class="f2 f1-ns lh-solid tc center fw4">{{ .Title | markdownify }}</h2>
    <p class="f6 f5-ns measure lh-copy tc center">{{ .Description | markdownify }}</p>
    {{ if .Params.show_author_byline }}<p class="f7 measure lh-copy tc center i">{{ if .Params.author }}Written by {{ .Params.author }}{{ end }}</p>{{ end }}
  </section>
  <section class="blog-content mw7 center">
    {{ $caller := . }}
    {{ $paginator := .Paginate ((where .RegularPages "Type" .Section).GroupByDate "2006") }}
    {{ range $paginator.PageGroups}}
    <!--each year starts a new column-->
    <div class="flex flex-column flex-row-ns mb2 items-start">
      <div class="w-10 pt4 mr4 mt4"><h3 class="pt0 mt0">{{ .Key }}</h3></div>
      <div class="w-90 pa4 mt0">
      {{ range .Pages }}
          <div>
          {{ .Scratch.Set "$root" $caller }}
          {{ partial "shared/summary-compact.html" . }}
          </div>
        {{ end }}
      </div>
    </div> <!--close flex-column-->        
    {{ end }}
    {{ partial "shared/list-pagination.html" . }}
  </section>
</main>
{{ end }}
