/* fraunces-regular - latin */
@font-face {
  font-family: 'fraunces';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/Fraunces9ptSoft-Thin.woff2') format('woff2');
}

/* fraunces-italic - latin */
@font-face {
  font-family: 'fraunces';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/fonts/Fraunces9ptSoft-ThinItalic.woff2')  format('woff2');
}

/* commissioner-regular - latin */
@font-face {
  font-family: 'commissioner';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/Commissioner-Light.woff2') format('woff2');
}

/* commissioner-italic - latin */
@font-face {
  font-family: 'commissioner';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/fonts/Commissioner-LightItalic.woff2') format('woff2');
}

.custom-text-font { font-family: 'commissioner', sans-serif; }
.custom-heading-font { font-family: 'fraunces', serif; }

$textFontFamily: custom-text-font;
$headingFontFamily: custom-heading-font;