// override colors to customize
// basic color options: use only color names as shown in the
// "Color Palette" section of http://tachyons.io/docs/themes/skins/

// variables based on tachyons classes
// set font family 
$textFontFamily: "sans-serif" ;
$headingFontFamily: "sans-serif" ;

// colors
$siteBgColor: "hot-pink" ;
$sidebarBgColor: "light-gray" ;
$textColor: "near-black" ;
$sidebarTextColor: "dark-gray" ;
$headlineColor: "black" ;
$headingColor: "near-black" ;
$bodyLinkColor: "blue" ;
$navLinkColor: "near-black" ;
$navBgColor: "near-black" ;
$sidebarLinkColor: "near-black" ;
$footerTextColor: "silver" ;
$buttonTextColor: "near-white" ;
$buttonBgColor: "black" ;
$buttonHoverTextColor: "white" ;
$buttonHoverBgColor: "blue" ;
$borderColor: "moon-gray" ;
