/* fraunces-regular - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('#{$custom-font-path}/Fraunces9ptSoft-Thin.woff2') format('woff2'), 
       /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* fraunces-italic - latin */
@font-face {
  font-family: 'Fraunces';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('#{$custom-font-path}/Fraunces9ptSoft-ThinItalic.woff2')  format('woff2'), 
       /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* commissioner-regular - latin */
@font-face {
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('#{$custom-font-path}/Commissioner-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* commissioner-italic - latin */
@font-face {
  font-family: 'Commissioner';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('#{$custom-font-path}/Commissioner-LightItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

// create custom font classes based on tachyons prefix when needed

.custom-text-font { font-family: 'Commissioner', sans-serif; }
.custom-heading-font { font-family: 'Fraunces', serif; }

// override variables used in main with new custom class slugs
$textFontFamily: custom-text-font;
$headingFontFamily: custom-heading-font;