.headroom {
  will-change: transform;
  transition: transform 200ms linear;
  background: #e3f0eeee; /* customize to match bacgkround color of the site */
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.header--fixed {
  position: sticky;
  top: 0;
}